*{
				margin: 0;
				padding: 0;
	
}

body {			overflow:auto;
				overflow-x:hidden; 
  				border: 0px;
				margin: 0px;
				padding: 0px;
}

header h1 {
                font-family: arial, sans-serif;
                color: rgb(134, 103, 181);
	 			margin:auto 0;
                text-align: center;
                font-size: 2.7em;
                padding: .5em 7em;
				margin-top: 20px
 }
    
nav {           font-family: arial, sans-serif;
                font-size: 1 em;
                color: rgb(255, 255, 255);
                width: 100%;
				float: left;
				margin: 0 0 0 0;
				padding: 0;
				list-style: none;
                background-color: rgb(132, 104, 179);
                              
}

nav ul {		font-family: arial, sans-serif;
                font-size: 1.1em;
				width: 100%;
  				display: -moz-inline-block;
  				list-style-type: none;
  				margin: 0;
  				padding: 0;
  	 	}

nav ul li	{   display: inline; 
                
}
       
       
nav ul li a { 	text-decoration: none; 
				color: rgb(255, 255, 255);
				display: inline-block;
				padding: 8px; 35px;
				width: 12.47%;
				text-align: center;
				border-left: 3px solid rgb(132, 104, 179);
}

.sidenav	{	background-color: pink
				margin: 0;
				padding: 0;
				width: 22%;	
}

section img	{	margin: 0 auto;
				margin-top: 70px;
				width: 25%;
				
}

section 	{ 	margin: 0 auto;
				margin-top: 0px;
				width: 100%;
				height: 35%;
				text-align: center;
				padding-bottom: 50px;
				background-color: rgb(225, 228, 233);
}


section p 	{	text-align: center;
				font-family: arial,sans-serif;
				font-size: .8em;
				width: 39%;
				margin:inherit;
				padding-top: 30px;
}

footer img	{	width: 30px;
				padding: 35px 35px 0px 20px;
}


footer		{ 	text-align: center;
				background-color: rgb(255, 255, 255);
				width: 100%;
				margin: 0 auto;
				
}