*{
				    margin: 0;
				    padding: 0;
	
}

body {			    overflow:auto;
				    overflow-x:hidden;
                    border: 0px;
				    margin: 0px;
				    padding: 0px;
}

header h1 {
                    font-family: arial, sans-serif;
                    font-size: 2.7em;
                    color: rgb(134, 103, 181);
                    margin: auto 0;
                    text-align: center;
                    padding: .5em 7em;
				    margin-top: 20px
}
    
nav {               font-family: helvetica, sans-serif;
                    font-size: 1.1em;
                    color: rgb(255, 255, 255);
                    width: 100%;
				    float: left;
				    margin: 0 0 0 0;
				    padding: 0;
				    list-style: none;
                    background-color: rgb(145, 104, 179);
                              
}

nav ul {            font-family: helvetica, sans-serif;
                    font-size: 1.1em;
				    width: 100%;
                    display: -moz-inline-block;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
}

nav ul li {         display: inline; 
                
}
       
       
nav ul li a {       font-weight: bold;
                    text-decoration: none; 
				    color: rgb(255, 255, 255);
				    display: inline-block;
				    padding: 9px; 25px;
				    width: 12%;
				    text-align: center;
				    border-left: 4px solid rgb(108, 80, 155);
}

.sidemenu {	        font-family: helvetica, sans-serif;
				    font-size: 1em;
                    font-weight: bold;
				    margin: 0px;
				    padding: 150px 0px;
				    margin-top: 40px;
				    width: 19.5%;
				    background-color: rgb(202, 178, 221);
}

.sidemenu ul { 	    margin: auto;
				    width: 50%;
				    display: inline-block;
				    text-decoration: none;
				    
				
}

.sidemenu ul li {   display: inline-block;
				    margin-bottom: 4px;               
                
}

.sidemenu ul li a { font-family: helvetica, sans-serif;
                    font-size: 1.1em;
                    font-weight: bold;
					margin-left: 90%;
                    height: -20px;
                    line-height: -40px;
					text-decoration: none; 
					color: rgb(255, 255, 255);
					text-align: center;
					display: inline-block;
					padding: 7px;
					width: 100%;
}


article { 	        clear: both;
				    margin-left: 279px;
				    margin-top: -540px;
				    width: 100%;
                    padding-bottom: 25px;
				    background-color: rgb(225, 228, 233);
}

article img	{       margin-left: 19%; 
				    margin-top: 85px;
				    width: 32%;								
}


article section p { font-family: arial,sans-serif;
				    font-size: .9em;
				    width: 40%;
				    margin-left:15%;
				    padding-top: 30px;
                    text-align: center;
}

footer img {        width: 30px;
				    padding: 35px 35px 0px 20px;
				    text-align: center;
}


footer {            margin: 0 auto;
                    text-align: center;
				    width: 100%;
				    background-color: rgb(255, 255, 255);
				
}